# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [1]:
# your code here

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [1]:
# your code here
import json
import urllib
import requests
import pandas as pd
from pandas import json_normalize

url='https://www.zalando.fr/api/catalog/articles?categories=promo-femme&limit=84&offset=84&sort=popularity'

In [2]:
# Your code
response = urllib.request.urlopen(url)
results = json.load(response)

flattened_data = json_normalize(results)
flattened_data1 = json_normalize(flattened_data.articles[0])
flattened_data1.head()

,sku,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,amount,price.base_price,outfits
0,NI111S06B-Q11,INTERNATIONALIST - Baskets basses - black/summ...,"[35.5, 36, 36.5, 37.5, 38, 38.5, 39, 40, 40.5,...",nike-sportswear-internationalist-baskets-basse...,[{'path': 'spp-media-p1/f9989c9dca9132e9bb14c7...,Nike Sportswear,False,[],"[{'key': 'discountRate', 'value': '-10%', 'tra...",shoe,[],"89,95 €","80,95 €",False,False,False,False,NaN,NaN,NaN
1,MJ331F00T-Q11,LASH SENSATIONAL MASCARA - Mascara - black,[],maybelline-lash-sensational-black-pearl-mascar...,[{'path': 'spp-media-p1/a00fb82db25f3f979fcb3d...,Maybelline New York,False,[],"[{'key': 'discountRate', 'value': '-10%', 'tra...",beauty,[],"9,95 €","8,95 €",False,False,False,False,"9,5 ml","94,21 € / 100 ml",NaN
2,ON321U00A-Q11,SEDONA OTW NOOS - Manteau court - black,"[XS, S, M, L, XL]",only-onlsedona-manteau-court-on321u00a-q11,[{'path': 'spp-media-p1/9d8b2792671c386eb849b6...,ONLY,False,[],"[{'key': 'discountRate', 'value': 'Jusqu’à -15...",clothing,[],"49,99 €","42,49 €",True,False,True,False,NaN,NaN,NaN
3,PE121N028-K16,VENUS - Jean droit - h06,"[24x30, 24x32, 25x30, 25x32, 25x34, 26x30, 26x...",pepe-jeans-venus-jean-droit-pe121n028-k16,[{'path': 'spp-media-p1/62eabed3c8563ee79c3c80...,Pepe Jeans,False,[],"[{'key': 'discountRate', 'value': 'Jusqu’à -30...",clothing,[],"99,95 €","69,95 €",True,False,True,False,NaN,NaN,NaN
4,MK151H03O-O12,JET SET TRAVEL CROSSBODY - Sac bandoulière - b...,[One Size],michael-michael-kors-jet-set-sac-bandouliere-m...,[{'path': 'spp-media-p1/5bbfce2990bf3d5882e608...,MICHAEL Michael Kors,True,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",accessoires,[],"194,95 €","136,95 €",False,False,False,False,NaN,NaN,NaN

In [17]:
total_pages=results['pagination']['page_count']
df=pd.DataFrame()
for i in range(50):
    k=84*i
    url=f'https://www.zalando.fr/api/catalog/articles?categories=promo-femme&limit=84&offset={k}&sort=popularity'
    response = urllib.request.urlopen(url)
    results = json.load(response)
    flattened_data = json_normalize(results)
    flattened_data1 = json_normalize(flattened_data.articles[0])
    flattened_data1=flattened_data1.set_index('sku')
    df = df.append(flattened_data1)
    print(f"getting page {i} of {total_pages}", end='\r')

df.head()


# He puesto 50 pags en vez de todas, porque nunca se completaba

,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,outfits,amount,price.base_price
sku,,,,,,,,,,,,,,,,,,,
AD111A0Q7-A11,STAN SMITH - Baskets basses - footwear white/g...,"[36, 38, 40, 42, 36 2/3, 37 1/3, 38 2/3, 39 1/...",adidas-originals-stan-smith-baskets-basses-foo...,[{'path': 'spp-media-p1/566391dd3ffb3feca398e7...,adidas Originals,False,[],"[{'key': 'discountRate', 'value': 'Jusqu’à -25...",shoe,[],"99,95 €","74,95 €",True,False,True,False,NaN,NaN,NaN
LE221N04U-Q11,MILE HIGH SUPER SKINNY - Jeans Skinny - black ...,"[23x28, 23x30, 24x28, 24x30, 24x32, 25x28, 25x...",levisr-mile-high-super-skinny-jeans-skinny-le2...,[{'path': 'spp-media-p1/df7d6a01a4833214aa11c6...,Levi's®,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",clothing,[],"99,95 €","69,95 €",False,False,False,False,NaN,NaN,NaN
LE221G031-K11,ORIGINAL TRUCKER - Veste en jean - soft as but...,"[XXS, XS, S, M, L]",levisr-original-trucker-veste-en-jean-soft-as-...,[{'path': 'spp-media-p1/b06b79cb3ac83c549f3008...,Levi's®,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",clothing,[],"119,95 €","83,95 €",False,False,False,False,NaN,NaN,NaN
AN611BA4P-Q11,Escarpins à plateforme - black,"[36, 37, 38, 39, 40, 41]",anna-field-escarpins-compenses-black-an611ba4p...,[{'path': 'spp-media-p1/a00b49ce7d93303c86891e...,Anna Field,False,[],"[{'key': 'discountRate', 'value': '-15%', 'tra...",shoe,[],"34,99 €","29,69 €",False,False,False,False,NaN,NaN,NaN
VA211S03A-Q11,UA OLD SKOOL - Baskets basses - black/white,"[36, 36.5, 37, 38, 38.5, 39, 40, 40.5, 41, 42,...",vans-baskets-basses-blackwhite-va211s03a-q11,[{'path': 'spp-media-p1/ff31fe540dca3d898deafc...,Vans,False,[],"[{'key': 'discountRate', 'value': '-10%', 'tra...",shoe,[],"84,95 €","76,45 €",False,False,False,False,"[{'id': 'Fjt8J_KKSKq', 'url_key': '/outfits/Fj...",NaN,NaN

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [18]:
# your code here
df.brand_name.value_counts().index[0]

'Anna Field'

In [19]:
df['price.original']=df['price.original'].str.extract('(\d*,\d*)')
df['price.promotional']=df['price.promotional'].str.extract('(\d*,\d*)')

df['price.original'] = [x.replace(',', '.') for x in df['price.original']]
df['price.promotional'] = [x.replace(',', '.') for x in df['price.promotional']]

In [20]:
df['discount_amount']=df['price.original'].astype(float)-df['price.promotional'].astype(float)
df1=df.copy()

In [21]:
total_disc=df1.groupby(['brand_name']).sum().discount_amount

In [22]:
total_disc.sort_values(ascending=False).index[0]

'Silvio Tossi'

In [23]:
total_disc_sum=df['discount_amount'].sum()
original_sum=df['price.original'].astype(float).sum()
discountsum=(total_disc_sum/original_sum)
discountsum

0.29013954482437804

In [24]:
t=df[['price.original','discount_amount']]
t

              price.original  discount_amount
sku
AD111A0Q7-A11          99.95            25.00
LE221N04U-Q11          99.95            30.00
LE221G031-K11         119.95            36.00
AN611BA4P-Q11          34.99             5.30
VA211S03A-Q11          84.95             8.50
...                      ...              ...
CO411A190-A11         109.95            11.00
L0U21N03X-K12          54.99            21.80
PO221E06B-K12          99.95            25.00
GL921C0LH-G11          42.99             6.30
PE111S01U-A11          49.90            14.97

[4200 rows x 2 columns]